@model IEnumerable<Patient_Transport_Migration.Models.DAL.TransportTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FK_Request_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fk_Diagnostische_Onderzoeken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_Request_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Van)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum_van_aanvraag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum_behandeld)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.huidige_klachten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aan_dokter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.andere_notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aanvragende_geneesheer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_wordt_behandeld_voor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bevindingen_en_advies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relevante_klinische_inlichtingen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diagnostische_vraagstelling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transport_te_voet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transport_rolstoel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transport_bed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zwanger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diabeet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.implantaat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nierinsufficientie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allergie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.andere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Request_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fk_Diagnostische_Onderzoeken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Request_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateComplete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Van)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum_van_aanvraag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum_behandeld)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.huidige_klachten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aan_dokter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.andere_notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aanvragende_geneesheer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_wordt_behandeld_voor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bevindingen_en_advies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relevante_klinische_inlichtingen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diagnostische_vraagstelling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transport_te_voet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transport_rolstoel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transport_bed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zwanger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diabeet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.implantaat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nierinsufficientie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allergie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.andere)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_Id })
        </td>
    </tr>
}

</table>
