@model Patient_Transport_Migration.Models.DAL.RequestType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RequestType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_datum_van_aanvraag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_datum_van_aanvraag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_datum_behandeld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_datum_behandeld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_huidige_klachten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_huidige_klachten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_aan_dokter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_aan_dokter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_andere_notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_andere_notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_aanvragende_geneesheer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_aanvragende_geneesheer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_patient_wordt_behandeld_voor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_patient_wordt_behandeld_voor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_bevindingen_en_advies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_bevindingen_en_advies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_relevante_klinische_inlichtingen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_relevante_klinische_inlichtingen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_diagnostische_vraagstelling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_diagnostische_vraagstelling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_transport_te_voet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_transport_te_voet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_transport_rolstoel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_transport_rolstoel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_transport_bed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_transport_bed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_zwanger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_zwanger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_diabeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_diabeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_implantaat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_implantaat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_nierinsufficientie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_nierinsufficientie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_allergie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_allergie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Include_andere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Include_andere)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
