@model Patient_Transport_Migration.Models.VM.TransportMedewerker.TransportTakenVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transporttaken voor @User.Identity.Name</title>
    <link href="~/Content/Css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Images/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body style="padding:0">
    <div class="container body-content">
        <div class="container">
            <h3>Taken @User.Identity.Name</h3>
            <hr />
            <div id="dvStatus" class="alert"></div>
            <div class="panel-group" id="accordion">
                @foreach (var taak in Model.TransportTaakLijst) {
                    Html.Raw("<div class=\"panel panel-default\">");
                    @* Start Panel Heading *@
                Html.Raw("<div class=\"panel-heading\">");
                Html.Raw("<h4 class=\"panel-title " + (taak.IsPrioriteitHoog ? "HogePrioriteit\" " : "\" "));
                Html.Raw("data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse-" + @taak.Id + "\"");
                Html.Raw(">");

                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@taak.Id" style="font-size:1.5em;">
                    <span class="badge">@taak.TaakWachtrijNummer</span>
                    <span><b>Van</b> @taak.LocatieStart.Omschrijving : @taak.LocatieStart.Kamer</span>
                    <span style="float:right"><b>Naar</b> @taak.LocatieEind.Omschrijving : @taak.LocatieEind.Kamer</span>
                    <span class="pull-right">
                        @try { @Html.Raw(taak.Aanvraag.Transportwijze.Omschrijving);
                        } catch (Exception) { }
                    </span>
                </a>

                    Html.Raw("</h4>");
                    Html.Raw("</div>"); @* End Panel Heading*@

                    @* Panel Collapse Href *@
                    <div id="collapse-@taak.Id" class="panel-collapse collapse @(taak.TaakWachtrijNummer == 0? "in" : "")">

                        <div class="panel-body">
                            <p><i>Omschrijving:</i> @taak.Aanvraag.Omschrijving</p>
                            @if (taak.Aanvraag.AanvraagType.Include_Patient) {
                                <div class="content-left">
                                        <dl class="dl-horizontal">
                                            <dt>Patient</dt>
                                            <dd>@taak.Aanvraag.Patient.Naam</dd>

                                            <dt>Geboortedatum</dt>
                                            <dd>@taak.Aanvraag.Patient.Geboortedatum</dd>
                                        </dl>
                                    </div>
                                    <div class="content-right">
                                        <dl class="dl-horizontal">
                                            <dt>Geslacht</dt>
                                            <dd>@taak.Aanvraag.Patient.Geslacht</dd>

                                            <dt>Datum Aanvraag</dt>
                                            <dd>@taak.DatumGemaakt</dd>
                                        </dl>
                                    </div>
                            }
                            <p style="clear:both"><b>Transport Notities:</b> @taak.TransportNotities</p>
                        </div>

                        <div class="panel-footer">
                            <button class="btn btn-default" type="button" onclick="TaakStart(@taak.Id)">Start</button>
                            <button class="btn btn-default pull-right" type="button" onclick="TaakVolbracht(@taak.Id)">Compleet</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var waitMillieSecondsForRefresh = 300000;
            setTimeout(function () {
                location.reload(true);
            }, waitMillieSecondsForRefresh);
        });

        function TaakStart(taakId) {
            MaakStatus($('#dvStatus'), 'mijn-alert', 'alert-info', "Test");
        };

        function TaakEind(taakId) {

        };

        function MaakStatus($Container, ItemName, AlertType, Message) {
            $.fx.speeds.slow = 6000;

            $('#' + ItemName).remove();

            var $Element = $('<div id=' + ItemName + '></div>');
            $Element.addClass("alert").addClass(AlertType);
            $Element.text(Message);
            $Element.html($Element.html().replace(/\n/g, '<br/>'));

            $Container.append($Element);
            $Element.fadeTo("slow", "0.6", function () {
                $(this).remove();
            });
        };
    </script>
</body>
</html>