@model Patient_Transport_Migration.Models.VM.DispatchOverzicht.WachtendeTransportTakenVM

<table class="table table-bordered table-hover table-responsive table-striped">
    <caption>
        <big>
            <span class="glyphicon glyphicon-refresh glyphicon-clickable" onclick="LoadTaken()"> </span>
            Taken
        </big>
    </caption>
    <tr>
        <th>Taak</th>
        <th>Datum Gemaakt</th>
        <th>Patient</th>
        <th>Van</th>
        <th>Naar</th>
        <th>Notities</th>
        <th><span class="glyphicon glyphicon-warning-sign" /></th>
        <th>Toewijzen aan</th>
        <th>Actie</th>
    </tr>
    @if (Model.TransportTaken != null) {
        foreach (var ttaak in Model.TransportTaken) {
            <tr id="Taak-@ttaak.Id" class="@(ttaak.IsPrioriteitHoog ? "HogePrioriteit" : "")">
                <td>@ttaak.Id</td>
                <td>@try { @ttaak.DatumGemaakt.ToString(); } catch { Html.Raw("??"); }</td>
                <td>@if (ttaak.Aanvraag.AanvraagType.Include_Patient) { @ttaak.Aanvraag.Patient.Naam } else { @Html.Raw("/"); }</td>
                <td>@try { @ttaak.LocatieStart.Omschrijving; @Html.Raw(" - "); @ttaak.LocatieStart.Kamer;} catch { @Html.Raw("/")}</td>
                
                @if (@ttaak.DokterEind != null) {
                    if (ttaak.DokterEind.IsConsultVerwachtend) {
                        <td>@ttaak.LocatieEind.Omschrijving - @ttaak.LocatieEind.Kamer</td>
                    } else {
                        <td class="label-danger">@ttaak.LocatieEind.Omschrijving - @ttaak.LocatieEind.Kamer</td>
                    }
                } else {
                    <td>@ttaak.LocatieEind.Omschrijving - @ttaak.LocatieEind.Kamer</td>
                }

                <td><input id="Taak-@ttaak.Id-TransportNotities" type="text" value="@(ttaak.TransportNotities)" /></td>
                <td><input id="Taak-@ttaak.Id-IsPrioriteitHoog" type="checkbox" @(ttaak.IsPrioriteitHoog ? "checked=\"checked\"" : "") /></td>
                <td>@Html.DropDownList("Taak-"+@ttaak.Id+"-WerknemerId", new SelectList(@Model.TransportWerknemerItems, "Value", "Text"), "")</td>
                <td>
                    <span class="glyphicon glyphicon-ok-sign glyphicon-clickable" onclick="SaveTaakToWerknemer(@ttaak.Id)"> </span>
                    <span class="glyphicon glyphicon-remove-sign glyphicon-clickable" onclick="DeleteTaak(@ttaak.Id)"> </span>
                </td>
            </tr>
        }
    }
</table>

<ul class="pagination">
    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++) {
        <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
            <a href="/Home/DispatchOverzicht?TakenPage=@page">@page</a>
        </li>
    }
</ul>