@model Patient_Transport_Migration.Models.VM.DispatchOverzicht.WerknemersVM

@{
    ViewBag.Title = "Dispatch Overzicht";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Sortable.min.js"></script>

<div class="content-container">
    <div>
        <div id="dvLoaderWerknemers" class="ajax-loader"></div>
        <div id="dvSchemaStatussen" class="alert"></div>
        <div id="dvWerknemers">
            <table class="table table-bordered table-hover table-responsive table-striped">
                <caption>
                    <span class="glyphicon glyphicon-refresh glyphicon-clickable" onclick="LoadWerknemersSchemas()"> </span>
                    <big>Werknemersschema</big>
                </caption>
                <tr>
                    <th>Werknemer</th>
                    <th>Schema</th>
                </tr>
                @foreach (var wn in Model.TransportWerknemers) {
                    <tr data-werknemer-id="@wn.Gebruikersnaam">
                        <td>
                            <span class="ajax-loader"></span>
                            <span class="glyphicon glyphicon-refresh glyphicon-clickable" onclick="LaadWerknemersSchema('@wn.Gebruikersnaam')"></span>
                            <span class="glyphicon glyphicon-ok-circle glyphicon-clickable" onclick="SaveWerknemersSchema('@wn.Gebruikersnaam')"></span>
                            @wn.Naam
                        </td>
                        <td id="TakenSchema-@wn.Gebruikersnaam">SCHEMA HIER</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div>
        <div id="dvLoaderTaken" class="ajax-loader"></div>
        <div id="dvTakenStatus" class="alert"></div>
        <div id="dvTaken"></div>
    </div>
</div>

<script>
    function RemoveTaakFromSchema(WerknemerId, Taak) {
        MaakSchemaStatus(WerknemerId, "alert-info", "Taak: " + Taak + "\nNog niet geïmplementeerd");
    };

    function SaveWerknemersSchema(WerknemerId) {
        MaakSchemaStatus(WerknemerId, "alert-info", "Nog niet geïmplementeerd");
    };

    function LoadWerknemersSchemas() {
        var Werknemers = @Html.Raw(Json.Encode(Model.TransportWerknemers));
        for (var i = 0; i < Werknemers.length; i++) {
            LaadWerknemersSchema(Werknemers[i].Gebruikersnaam, Werknemers[i].Naam);
        };
    };

    function LaadWerknemersSchema(WerknemerId, WerknemerNaam) {
        var $tdSchema = $('#TakenSchema-'+WerknemerId);
        $.ajax({
            type: "GET",
            async: true,
            dataType: "text",
            timeout: 3000,
            url: "DispatchOverzicht_GetWerknemerTaken",
            data: "WerknemerId="+WerknemerId,
            beforeSend() {
                $tdSchema.css({opacity: 0.5});
            }, success(result) {
                $tdSchema.html('');
                $tdSchema.css({opacity: 1});
                TekenWerknemerSchema($tdSchema, WerknemerId, JSON.parse(result));
            }, error(jqXHR, textStatus, errorThrown) {
                MaakSchemaStatus(WerknemerId, "alert-danger", 
                    "Kan het schema voor " + WerknemerNaam + " niet laden, probeer opnieuw!\n" + textStatus);
            }, always() {
                $tdSchema.css({opacity: 1});
            }
        });
    };

    function TekenWerknemerSchema($tr, WerknemerId, WerknemerTaken) {
        var $dvContainer = $('<div></div>');
        $dvContainer.prop("id", "WnSchema-"+WerknemerId);

        for (var i = 0; i < WerknemerTaken.length; i++) {
            var wnTaak = WerknemerTaken[i];

            //Bouw Item (Html)
            var $item = $('<div></div>');
            $item.data("taak-id", wnTaak.Id);
            $item.addClass('sortable-taak');

            // Taak #
            var $itemNummer = $('<span></span>')
                .text(wnTaak.TaakWachtrijNummer)
                .addClass("badge");
            $item.append($itemNummer);

            // Tekst
            var $itemText = $('<span></span>');
            $itemText.text(wnTaak.LocatieStart + " - " + wnTaak.LocatieEind);
            if (wnTaak.IsPrioriteitHoog) {
                $itemText.addClass("HogePrioriteit");
            };
            $item.append($itemText);

            // Beweegbaar icoontje
            var $moveHandle = $('<span></span>')
                .addClass("glyphicon")
                .addClass("glyphicon-move");
            $item.append($moveHandle);
            
            // Verwijder icoontje
            var $removeIcon = $('<span></span>')
                .addClass('glyphicon')
                .addClass('glyphicon-remove');
            $removeIcon.click(function () {
                RemoveTaakFromSchema(WerknemerId, wnTaak.Id);
            });
            $item.append($removeIcon);

            $dvContainer.append($item);
        }
        $tr.append($dvContainer);

        // Sortable.js List with handle
        Sortable.create(document.getElementById("WnSchema-" + WerknemerId), {
            handle: '.glyphicon-move',
            animation: 150
        });
    };

    function MaakSchemaStatus(WerknemerId, AlertType, Message) {
        var $dvSchemaStatussen = $('#dvSchemaStatussen');       
        var $dvSchemaStatus = $('#SchemaStatus-' + WerknemerId);

        if ($dvSchemaStatus.length > 0) {
            $dvSchemaStatus.remove();
        }

        $dvSchemaStatus = $('<div id=SchemaStatus-' + WerknemerId + '></div>');
        $dvSchemaStatus.addClass("alert").addClass(AlertType);
        $dvSchemaStatus.text("Werknemer: " + WerknemerId + "\n" + Message);
        $dvSchemaStatus.html($dvSchemaStatus.html().replace(/\n/g, '<br/>'));

        $dvSchemaStatussen.append($dvSchemaStatus);
        $dvSchemaStatus.fadeTo("slow", "0.6", function () {
            $(this).remove();
        });
    };

    function DeleteTaak(TaakId) {
        if (confirm("Ben je zeker dat je Taak " + TaakId + " wilt verwijderen?")) {
            var $TaakTr = $('#Taak-' + TaakId);
            function fail() {
                MaakTaakStatus(TaakId, "alert-danger", "Kon de taak niet verwijderen, probeer opnieuw!");
                $TaakTr.css({ opacity: 1.0 }).show();
            };
            $.ajax({
                type: "POST",
                async: true,
                dataType: "text",
                timeout: 3000,
                url: "DispatchOverzicht_DeleteTaak",
                data: "jsonTaak=" + JSON.stringify({ "TaakId": TaakId }),
                beforeSend() {
                    $TaakTr.css({ opacity: 0.5 });
                }, success: function () {
                    if (data) { // = True
                        MaakTaakStatus(TaakId, "alert-success", "Taak verwijderd!");
                        VerbergTaak(TaakId);
                    } else {
                        fail();
                    };
                }, error: function (jqXHR, textStatus, errorThrown) {
                    fail();
                }
            });
        };
    };

    function VerbergTaak(TaakId) {
        var $TaakTr = $('#Taak-' + TaakId);
        $TaakTr.remove();
    };

    function SaveTaak(TaakId) {
        var $TaakTr = $('#Taak-' + TaakId);
        var TaakWerknemerId = $('#Taak-' + TaakId + "-WerknemerId").val();

        //Controleer of alles ingegeven is
        if (TaakWerknemerId == "") {
            MaakTaakStatus(TaakId, "alert-warning",
                "Selecteer een werknemer voor je de taak opslaat!");
            return null;
        }

        // Collect data voor je post request
        var TaakNotities = $('#Taak-' + TaakId + "-TransportNotities").val();
        var TaakIsHogePrioriteit = $('#Taak-' + TaakId + "-IsPrioriteitHoog").prop('checked');

        var sendData = {
            "TaakId": TaakId,
            "TaakNotities": TaakNotities,
            "TaakIsHogePrioriteit": TaakIsHogePrioriteit,
            "TaakWerknemerId": TaakWerknemerId
        };

        $.ajax({
            type: "POST",
            async: true,
            dataType: "text",
            timeout: 3000,
            url: "DispatchOverzicht_SaveTaak",
            data: "jsonTaak=" + JSON.stringify(sendData),
            beforeSend() {
                $TaakTr.css({ opacity: 0.5 });
            }, success: function (data) {
                if (data) { // = True
                    MaakTaakStatus(TaakId, "alert-success", "Taak toegewezen");
                    VerbergTaak(TaakId);
                } else {
                    MaakTaakStatus(TaakId, "alert-danger", "Kon de taak niet opslaan, probeer opnieuw!");
                    $TaakTr.css({ opacity: 1.0 }).show();
                };
            }, error: function (jqXHR, textStatus, errorThrown) {
                MaakTaakStatus(TaakId, "alert-danger", "Kon de taak niet opslaan, probeer opnieuw!\n" + textStatus);
                $TaakTr.css({ opacity: 1.0 }).show();
            }
        });
    };

    function MaakTaakStatus(TaakId, AlertType, Message) {
        var $dvTakenStatus = $('#dvTakenStatus');
        var $dvTaakStatus = $('#Taak-Status-' + TaakId);

        if ($dvTaakStatus.length > 0) {
            $dvTaakStatus.remove();
        }

        $dvTaakStatus = $('<div id=Taak-Status-' + TaakId + '></div>');
        $dvTaakStatus.addClass("alert").addClass(AlertType);
        $dvTaakStatus.text("Taak: " + TaakId + "\n" + Message);
        $dvTaakStatus.html($dvTaakStatus.html().replace(/\n/g, '<br/>'));

        $dvTakenStatus.append($dvTaakStatus);
        $dvTaakStatus.fadeTo("slow", "0.6", function () {
            $(this).remove();
        });
    };

    function LoadTaken() {
        var $ajaxLoaderTaken = $('#dvLoaderTaken');
        var $dvTaken = $("#dvTaken");
        $ajaxLoaderTaken.show();
        $.ajax({
            type: "GET",
            cache: false,
            async: true,
            url: "GetDispatchOverzicht_WachtendeTransportTaken",
            beforeSend: function () {
                $dvTaken.css({ opacity: 0.5 });
            }, success: function (result) {
                $dvTaken.html(result);
            }, error: function (jqXHR, textStatus, errorThrown) {
                $dvTaken.html(
                    "<p class=\"alert alert-warning\">Probleem met het verkrijgen van de data.<br />" + textStatus + ": " + errorThrown);
            }, complete: function () {
                $ajaxLoaderTaken.hide();
                $dvTaken.css({ opacity: 1.0 }).show();
            }
        })
    };

    $(new function () {
        $.fx.speeds.slow = 6000;
        LoadTaken();
        LoadWerknemersSchemas();
    });
</script>