@model Patient_Transport_Migration.Models.VM.DokterStatusVM

@if (Model.Doctor != null) {
    @Html.HiddenFor(model => model.Doctor.ID)
    @Html.HiddenFor(model => model.Doctor.Name)

    <div class="form-group">
        @Html.LabelFor(model => model.Doctor.ConsultOpen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            <div class="checkbox">
                @Html.EditorFor(model => model.Doctor.ConsultOpen)
                @Html.ValidationMessageFor(model => model.Doctor.ConsultOpen, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" value="Opslaan" class="btn btn-default" />
        </div>
    </div>

}