@model Patient_Transport_Migration.Models.VM.PatientInfo.PatientTransportAanvragenVM

@if (!string.IsNullOrEmpty(Model.PatientVisitId)) {
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Vervoersaanvragen</th>
                <th>Van</th>
                <th>Naar</th>
                <th>Status</th>
                <th>Link</th>
            </tr>

            @foreach (var vervoersaanvraag in Model.PatientAanvragen) {
                <tr>
                    <td>@vervoersaanvraag.DatumGemaakt</td>
                    <td>@vervoersaanvraag.LocatieStart</td>
                    <td>@vervoersaanvraag.LocatieEind</td>
                    <td>
                        @switch (vervoersaanvraag.GetTransportTaakStatus()) {
                            case Patient_Transport_Migration.Models.DAL.TransportTaakStatus.TransportTaakGemaakt:
                                @Html.Raw("Wachtend");
                                break;
                            case Patient_Transport_Migration.Models.DAL.TransportTaakStatus.TransportTaakTijdNodigGeschat:
                                @Html.Raw("Wachtend");
                                break;
                            case Patient_Transport_Migration.Models.DAL.TransportTaakStatus.WerknemerToegewezen_Wachtend:
                                @Html.Raw("Wachtend, werknemer toegewezen");
                                break;
                            case Patient_Transport_Migration.Models.DAL.TransportTaakStatus.WerknemerToegewezen_HuidigeTaak:
                                @Html.Raw("Wordt verplaatst");
                                break;
                            case Patient_Transport_Migration.Models.DAL.TransportTaakStatus.Voltooid:
                                @Html.Raw("Voltooid");
                                break;
                            default:
                                @Html.Raw("Onbekend");
                                break;
                        }
                    </td>
                    <td>
                        <button id="btnLoadAanvraag" data-aanvraag-id="@vervoersaanvraag.Aanvraag.Id">Toon Aanvraag</button>
                    </td>
                </tr>
            }
        </table>
        <br />

        @if (string.IsNullOrEmpty(Model.PatientVisitId)) {
            <p>Geen medische aanvragen voor deze patiënt gevonden.</p>
        }

        <button id="btnLoadAanvraagTypes">Nieuwe vervoers-aanvraag</button>

        <br />

        <div>
            <div id="dvLoadAanvraagTypes" class="ajax-loader"></div>
            <div id="dvAanvraagTypes"></div>
        </div>

    </div>

    <script>
        $("#btnLoadAanvraagTypes").click(function () {
            var $ajaxLoader = $('dvLoadAanvraagTypes');
            var $dvContent = $("#dvAanvraagTypes");
            $.ajax({
                type: "GET",
                url: "GetPatientInfo_AanvraagTypes",
                beforeSend: function () {
                    $dvContent.html('');
                    $ajaxLoader.show();
                },
                success: function (result) {
                    $ajaxLoader.hide();
                    $dvContent.html(result);
                }

            });
        });

        $("#btnLoadAanvraag").click(function () {
            // TODO FIX!
            console.log("Load Aanvraag");
            var aanvraagId = $(this).data("aanvraag-id");
            var $ajaxLoader = $('dvLoaderAanvraagDetails');
            var $dvContent = $("#dvAanvraagDetails");
            $.ajax({
                type: "GET",
                url: "GetPatientInfo_AanvraagDetails?aanvraagId=" + aanvraagId,
                beforeSend: function () {
                    $dvContent.html('');
                    $ajaxLoader.show();
                },
                success: function (result) {
                    $ajaxLoader.hide();
                    $dvContent.html(result);
                }

            });
        });
    </script>
}