@model Patient_Transport_Migration.Models.VM.PatientInfoVM

@if (Model.PatientDetails != null) {
    <div>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(p => p.PatientDetails.Sex)</dt>
            <dd>@Html.DisplayFor(p => p.PatientDetails.Sex)</dd>

            <dt>@Html.DisplayNameFor(p => p.PatientDetails.DateOfBirth)</dt>
            <dd>@Html.DisplayFor(p => p.PatientDetails.DateOfBirth)</dd>

            <dt>@Html.DisplayNameFor(p => p.PatientDetails.RoomId)</dt>
            <dd>@Html.DisplayFor(p => p.PatientDetails.RoomId)</dd>

            <dt>@Html.DisplayNameFor(p => p.PatientDetails.BedId)</dt>
            <dd>@Html.DisplayFor(p => p.PatientDetails.BedId)</dd>
        </dl>
    </div>

    <div>
        <table>
            <tr>
                <th>Onderzoek</th>
                <th>In orde</th>
                <th><!-- Links --></th>
            </tr>
            @foreach (var request in Model.PatientRequests) {
                <tr>
                    <td>@request.Request_Type</td>
                    <td>@request.DateComplete</td>
                    <!--TODO! Add Controller Support (Read / Edit) & Edit this link -->
                    <td>Html.ActionLink("Open", "GetRequestDetails", request.PK_Id)</td>
                </tr>
            }
        </table>
        <br />
        <!--TODO! Add Controller Support (Create) & Edit this link -->
        <button id="btnLoadRT">Nieuwe aanvraag</button>

        <div>
            <!--AJAX Container-->
            <div id="dvAjax">
            </div>
        </div>
    </div>

    <script>
        $("#btnLoadRT").click(function () {
            console.log("AJAX");
            $.ajax({
                type: "GET",
                url: "GetRequestTypes",
                success: function (result) {
                    $("#dvAjax").html(result);
                }
            });
        });
    </script>

}
