@model Patient_Transport_Migration.Models.VM.PatientInfoVM

@if (Model.PatientMedischeAanvragenVM != null) {
    if (Model.PatientMedischeAanvragenVM.PatientVisitId != null) {
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Onderzoek</th>
                    <th>In orde</th>
                    <th>Link</th>
                </tr>
                @if (Model.PatientMedischeAanvragenVM.PatientAanvragen != null) {
                    foreach (var aanvraag in Model.PatientMedischeAanvragenVM.PatientAanvragen) {
                        <tr>
                            <td>@aanvraag.AanvraagType.Omschrijving</td>
                            <td>@if (@aanvraag.AanvraagStatus.IsLaatsteStap) { @Html.Raw("Ja") } else { @Html.Raw("Nee") }</td>
                            <td><button class="btnLoadAanvraag" 
                                        data-aanvraag-id="@aanvraag.Id" 
                                        data-aanvraag-type="@aanvraag.AanvraagTypeId">
                                Bekijk</button></td>
                        </tr>
                    }
                }
            </table>
            <br />

            @if (Model.PatientMedischeAanvragenVM.PatientAanvragen == null) {
                <p>Geen medische aanvragen voor deze patiënt gevonden.</p>
            }

            <button id="btnLoadAanvraagTypes">Nieuwe aanvraag</button>

            <br />

            <div>
                <div id="dvLoadAanvraagTypes" class="ajax-loader"></div>
                <div id="dvAanvraagTypes"></div>
            </div>
            
        </div>

        <script>
            $("#btnLoadAanvraagTypes").click(function () {
                var $ajaxLoader = $('dvLoadAanvraagTypes');
                var $dvContent = $("#dvAanvraagTypes");
                $.ajax({
                    type: "GET",
                    url: "GetAanvraagTypes",
                    beforeSend: function () {
                        $dvContent.html('');
                        $ajaxLoader.show();
                    },
                    success: function (result) {
                        $ajaxLoader.hide();
                        $dvContent.html(result);
                    }
                    
                });
            });

            $(".btnLoadAanvraag").click(function (event) {
                var aanvraagId = $(this).data("aanvraag-id");
                var aanvraagTypeId = $(this).data("aanvraag-type-id");
                var $ajaxLoader = $('dvLoaderAanvraagDetails');
                var $dvContent = $("#dvAanvraagDetails");
                $.ajax({
                    type: "GET",
                    url: "GetCreateUpdateAanvraagDetails?aanvraagId=" + aanvraagId + "&aanvraagTypeId=" + aanvraagTypeId,
                    beforeSend: function () {
                        $dvContent.html('');
                        $ajaxLoader.show();
                    },
                    success: function (result) {
                        $ajaxLoader.hide();
                        $dvContent.html(result);
                    }

                });
            });
        </script>
    }
}