@model Patient_Transport_Migration.Models.VM.VerplegingOverzichtVM

    @*
    TODO Filteren data + Presenteren data
    Gesorteerd : 
    Hoe eerder een taak hoe hoger

    Taak					Datum Afgewerkt --> dd:HH:mm
    Taak.Aanvraag.Patient	Patient Naam
    Aanvraag				Aanvragen ivm Patient (VisitId)
    Taak.Aanvraag.Patient	Patient Kamer + Bednr

    3 Joins
    *@

@if (Model != null) {
    if (Model.PatientenInOrdeVM != null) {
        <table class="table">
            <tr>
                <th>Tijdstip</th>
                <th>Aanvragen</th>
                <th>Patient</th>
                <th>Kamer</th>
                <th>Bed</th>
            </tr>

            @foreach (var taak in Model.PatientenInOrdeVM.PatientInOrde) {
                <tr>
                    <td>
                        @{  
                            TimeSpan timeNeeded = new TimeSpan(@taak.TijdNodig.Ticks);
                            DateTime completedTime = @taak.DatumGemaakt.Add(timeNeeded);
                            Html.Raw(completedTime.ToString("HH:mm"));
                        }
                    </td>
                    <td><!-- Taak.Aanvraag.PatientId > QRY Relevante Aanvragen voor patient --></td>
                    <td>@taak.Aanvraag.Patient.Naam</td>
                    <td>@taak.Aanvraag.Patient.Kamer</td>
                    <td>@taak.Aanvraag.Patient.BedNr</td>
                </tr>
           }
        </table>
    }
}