
@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Dokter Status", "DokterStatus", "Home")</li>
    <li>@Html.ActionLink("Patiënt Info", "PatientInfo", "Home")</li>
    <li>@Html.ActionLink("Verpleging Overzicht", "VerplegingOverzicht", "Home")</li>
    <li>@Html.ActionLink("Maak Vervoer Aanvraag", "MaakVervoerAanvraag", "Home")</li>
    <li>@Html.ActionLink("Dispatch Overzicht", "DispatchOverzicht" , "Home")</li>
</ul>